/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* Utility */

/* Header */
header {


    background-color: aqua;
}

main {
    width: 500px;
    margin: 0px auto 50px;
    border: 50px solid black;
    padding: 100px 50px 100px 50px;
    background-color: aqua;
}

/* Main */


}