/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

/* Utility */

h1 {
    display: inline-block;
}

body {
    background-color: rgb(203, 207, 207);
}

li {
    font-size: medium;
    color: black;
    line-height: 10px;
    height: 10px;


}

/* Header */

header {
    background-color: white;
}

button {
    display: inline-block;
}

/* Main */
.layout {
    width: 80%;

    margin: 2% 10%;
    border: 10px solid black;
    padding: 10px 20px 100px 20px;
    background-color: rgb(252, 255, 255);
}

/* Button - Main */

.task {
    background-color: black;
    border-radius: 20px;
}

.sect {
    background-color: #00aef7;
    border-radius: 20px;
}